@using Todolist.ViewModels
@model TasksVm
<table id="Datatables" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>